html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  font-family: "Lato", sans-serif;
}

div>a, div>a:hover {
  text-decoration: none;
}

.fa-circle, .fa-circle-o {
  color: #2ecc71;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;

  cursor: pointer;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 50px;
}

#footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear:both;
} 

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}

.img-thumbnail {
  border-width: 2px;
  border-color: #ecf0f1;

  cursor: pointer;
  margin: 0px;
}

.img-active {
  border-color: #2ecc71;
}

.fa-github-square, .fa-twitter-square, .fa-linkedin-square {
  color: #95a5a6;
}

.fa-github-square:hover {
  color: black;
}

.fa-linkedin-square:hover {
  color: #007bb6;
}

.fa-twitter-square:hover {
  color: #4099FF;
}

.home-text {
  font-family: "Open Sans", sans-serif;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: #079176;
}

a:hover {
  color: #079176;
  text-decoration: none;
}

.dotty, .dotty:hover {
  border-bottom: 1px black dotted;
  text-decoration: none;
}